// SAGE DEFAULT VARIABLES: ---------------------------------------

// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         $cerulean;

// CCDEV VARIABLES: ------------------------------------------------

//colors
$color1: $cerulean;
$color2: $aluminium;
$color3: $light;
$color4: $tangerine;

$font-sans: 'Assistant', sans-serif;
$font-serif: 'Libre Baskerville', serif;



