//color palettes

  //yellowish-offwhite, dark blue, light blue, offwhite
    $fresh: #F7F5E6;
    $vermillion: #333A56;
    $sunshine: #52658F;
    $clean: #E8E8E8;

  //blue, gray, yellow, orange
    $cerulean: #4484CE;
    $aluminium: #D9D9D9;
    $light: #F9CF00;
    $tangerine: #F19F4D;

  //
    $darkblue1: rgb(28,52,77);
    $teal1: rgb(40,125,125);
    $green1: rgb(145,196,108);
    $lightgreen1: rgb(198,224,112);
    $offwhite1: rgb(242,242,242);